<a href="https://colab.research.google.com/github/Danny2Forever/My-Datascience/blob/main/yugioh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Yu-Gi-Oh Normal Monster Cards.</h1>
This is data of Yu-Gi-Oh Normal Monster Cards. <br>
I get this dataset from Kaggle. <br>
So you can get this Dataset by <a href="https://www.kaggle.com/datasets/rushikeshhiray/yugioh-normal-monster-cards?resource=download"> Click Here !<a>

In [ ]:
from IPython.display import display
import pandas as pd
import numpy as np
from natsort import index_natsorted
df = pd.read_csv("Yu-Gi-Oh-Normal_Monsters.csv")

In [ ]:
attack_lst = []
defense_lst = []
for i in df['Attack_Points']:
  try :                                      #Delete non-number value
    int(i) 
    attack_lst.append(int(i))
  except:
    df = df[df.Attack_Points != i]

for j in df['Defense_Points']:
  try :                                      #Delete non-number value 
    int(j) 
    defense_lst.append(int(j))
  except:
    df = df[df.Defense_Points != j]

print(f"There are have {len(df.index)} mosters from Dataset.")
print(f"The the max Attack Points is {np.max(attack_lst)}")
print(f"The the max Defense Points is {np.max(defense_lst)}")

There are have 473 mosters from Dataset.
The the max Attack Points is 4000
The the max Defense Points is 4000

<h2>⚔️ Sorted by Attack Points.</h2>

In [ ]:
df = df.sort_values(
      by="Attack_Points",
      ascending=False,
      key=lambda x: np.argsort(index_natsorted(df["Attack_Points"])))
df

,Name,Attributes,Sub-Types,Level,Attack_Points,Defense_Points
294,Obelisk the Tormentor (Non-Playable),Divine,Divine,10.0,4000,4000
50,Blue-Eyes White Dragon,Light,Dragon,8.0,3000,2500
166,Gogiga Gagagigo,Water,Reptile,8.0,2950,2800
328,Rabidragon,Light,Dragon,8.0,2950,2900
68,Cosmo Queen,Dark,Spellcaster,8.0,2900,2450
...,...,...,...,...,...,...
376,Soul Tiger,Earth,Beast,4.0,0,2100
149,Gem-Knight Sapphire,Earth,Aqua,4.0,0,2100
72,Crowned by the World Chalice,Water,Spellcaster,2.0,0,2100
267,Millennium Shield,Earth,Warrior,5.0,0,3000
221,Labyrinth Wall,Earth,Rock,5.0,0,3000

<h2>🛡️ Sorted by Defense Points.</h2>

In [ ]:
df = df.sort_values(
      by="Defense_Points",
      ascending=False,
      key=lambda x: np.argsort(index_natsorted(df["Defense_Points"])))
df

,Name,Attributes,Sub-Types,Level,Attack_Points,Defense_Points
294,Obelisk the Tormentor (Non-Playable),Divine,Divine,10.0,4000,4000
287,Neo Aqua Madoor,Water,Spellcaster,6.0,1200,3000
267,Millennium Shield,Earth,Warrior,5.0,0,3000
221,Labyrinth Wall,Earth,Rock,5.0,0,3000
328,Rabidragon,Light,Dragon,8.0,2950,2900
...,...,...,...,...,...,...
318,Pharaonic Protector,Earth,Zombie,2.0,900,0
317,Pharaoh's Servant,Dark,Zombie,2.0,900,0
417,Thousand-Eyes Idol,Dark,Spellcaster,1.0,0,0
372,Soitsu,Wind,Fairy,3.0,0,0
187,Hieratic Seal of the Sun Dragon Overlord,Light,Dragon,8.0,0,0