<a href="https://colab.research.google.com/github/Danny2Forever/My-Datascience/blob/main/yugioh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Yu-Gi-Oh Normal Monster Cards.</h1>
<a href="https://en.wikipedia.org/wiki/Yu-Gi-Oh!"><img height= "80" src="https://static.wikia.nocookie.net/logopedia/images/3/35/Yu-Gi-Oh%21_Logo.png/revision/latest?cb=20210915031550"></a><br>
This is data of Yu-Gi-Oh Normal Monster Cards. <br>
I get this dataset from Kaggle. <br>
So you can get this Dataset by <a href="https://www.kaggle.com/datasets/rushikeshhiray/yugioh-normal-monster-cards?resource=download"> Click Here !<a>

In [5]:
from IPython.display import display
import pandas as pd
import numpy as np
from natsort import index_natsorted
df = pd.read_csv("Yu-Gi-Oh-Normal_Monsters.csv")

In [11]:
attack_lst = []
defense_lst = []
for i in df['Attack_Points']:
  try :                                      #Delete non-number value
    int(i) 
    attack_lst.append(int(i))
  except:
    df = df[df.Attack_Points != i]

for j in df['Defense_Points']:
  try :                                      #Delete non-number value 
    int(j) 
    defense_lst.append(int(j))
  except:
    df = df[df.Defense_Points != j]

df = df[df.Name != 'Obelisk the Tormentor (Non-Playable)']  #Obelisk becuase it's not normal monster

print(f"There are have {len(df.index)} mosters from Dataset.")
print(f"The the max Attack Points is {np.max(attack_lst)}")
print(f"The the max Defense Points is {np.max(defense_lst)}")

There are have 475 mosters from Dataset.
The the max Attack Points is 3000
The the max Defense Points is 3000

<h2>⚔️ Sorted by Attack Points.</h2>

In [23]:
df = df.sort_values(
      by="Attack_Points",
      ascending=False,
      key=lambda x: np.argsort(index_natsorted(df["Attack_Points"])))
df

,Name,Attributes,Sub-Types,Level,Attack_Points,Defense_Points
50,Blue-Eyes White Dragon,Light,Dragon,8,3000,2500
166,Gogiga Gagagigo,Water,Reptile,8,2950,2800
328,Rabidragon,Light,Dragon,8,2950,2900
68,Cosmo Queen,Dark,Spellcaster,8,2900,2450
383,Spiral Serpent,Water,Sea,8,2900,2900
...,...,...,...,...,...,...
72,Crowned by the World Chalice,Water,Spellcaster,2,0,2100
149,Gem-Knight Sapphire,Earth,Aqua,4,0,2100
376,Soul Tiger,Earth,Beast,4,0,2100
267,Millennium Shield,Earth,Warrior,5,0,3000
221,Labyrinth Wall,Earth,Rock,5,0,3000

<h2>🛡️ Sorted by Defense Points.</h2>

In [28]:
df = df.sort_values(
      by="Defense_Points",
      ascending=False,
      key=lambda x: np.argsort(index_natsorted(df["Defense_Points"])))
df

,Name,Attributes,Sub-Types,Level,Attack_Points,Defense_Points
221,Labyrinth Wall,Earth,Rock,5,0,3000
267,Millennium Shield,Earth,Warrior,5,0,3000
287,Neo Aqua Madoor,Water,Spellcaster,6,1200,3000
383,Spiral Serpent,Water,Sea,8,2900,2900
328,Rabidragon,Light,Dragon,8,2950,2900
...,...,...,...,...,...,...
253,Megalosmasher X,Water,Dinosaur,4,2000,0
256,Mekk-Knight Avram,Light,Psychic,4,2000,0
417,Thousand-Eyes Idol,Dark,Spellcaster,1,0,0
187,Hieratic Seal of the Sun Dragon Overlord,Light,Dragon,8,0,0
316,Phantom Gryphon,Wind,Winged,4,2000,0

<h2>⭐ Sorted by Level.</h2>

In [29]:
df = df.sort_values(by="Level", ascending=False)
df

,Name,Attributes,Sub-Types,Level,Attack_Points,Defense_Points
428,Tri-Horned Dragon,Dark,Dragon,8,2850,2350
383,Spiral Serpent,Water,Sea,8,2900,2900
328,Rabidragon,Light,Dragon,8,2950,2900
315,Phantasm Spiral Dragon,Water,Wyrm,8,2900,2900
259,Metal Armored Bug,Earth,Insect,8,2800,1500
...,...,...,...,...,...,...
314,Petit Moth,Earth,Insect,1,300,200
458,White Duston,Light,Fiend,1,0,1000
448,Volcanic Rat,Fire,Pyro,1,500,500
440,Unicycular,Earth,Machine,1,100,100
80,D.D. Trainer,Dark,Fiend,1,100,2000

<h2>🧪 Attributes by Level.</h2>
<img height="30" src="https://static.wikia.nocookie.net/yugioh/images/d/de/DARK.svg/revision/latest?cb=20120918053848">
<img height="30" src="https://static.wikia.nocookie.net/yugioh/images/7/7c/DIVINE.svg/revision/latest?cb=20120918053906">
<img height="30" src="https://static.wikia.nocookie.net/yugioh/images/a/a1/EARTH.svg/revision/latest?cb=20120918053843">
<img height="30" src="https://static.wikia.nocookie.net/yugioh/images/d/d6/FIRE.svg/revision/latest?cb=20120918053839">
<img height="30" src="https://static.wikia.nocookie.net/yugioh/images/3/39/LIGHT.svg/revision/latest?cb=20120918053832">
<img height="30" src="https://static.wikia.nocookie.net/yugioh/images/4/40/WATER.svg/revision/latest?cb=20120918052107">
<img height="30" src="https://static.wikia.nocookie.net/yugioh/images/0/01/WIND.svg/revision/latest?cb=20170920205028">
<img height="30" src="https://static.wikia.nocookie.net/yugioh/images/2/2d/LAUGH.svg/revision/latest?cb=20130222014813">

In [32]:
df = df.sort_values(by="Attributes")
df

,Name,Attributes,Sub-Types,Level,Attack_Points,Defense_Points
80,D.D. Trainer,Dark,Fiend,1,100,2000
355,Serpent Night Dragon,Dark,Dragon,7,2350,2400
401,Temple of Skulls,Dark,Zombie,4,900,1300
402,Terra the Terrible,Dark,Fiend,4,1200,1300
418,Three-Headed Geedo,Dark,Fiend,4,1200,1400
...,...,...,...,...,...,...
27,Baby Dragon,Wind,Dragon,3,1200,700
364,Skull Red Bird,Wind,Winged,4,1550,1200
118,Faith Bird,Wind,Winged,4,1500,1100
163,Girochin Kuwagata,Wind,Insect,4,1700,1000
290,Nin-Ken Dog,Wind,Beast,4,1800,1000